
body {
  font-family: alwyn-new-rounded-web, sans-serif;
font-weight: 400;
font-style: normal;
  color:#f1f3f6;
  background-color: #111;
  background-image: url("https://picsum.photos/1920/1080?grayscale");
  background-size: cover;
}

body{

}
.logo{
  width: 18rem;
  padding: 20px;


  }
.minilogo{
  margin-left:auto;
  margin-right:auto;
  display: block;
}
.button_link{
  text-decoration: none;
  color: #f1f3f6;
  }
.main_col{
  background-color: #111;
  opacity: 0.95;
padding:5%;
border-radius: 20px;
box-shadow:  5px 2px rgba(0,0,0,0.1),
-5px -5px 2px #000 ;

-moz-box-shadow:
5px 5px 10px rgba(0,0,0,0.1),
-5px -5px 10px #000 ;

box-shadow:
5px 5px 10px rgba(0,0,0,0.1),
-5px -5px 10px #000 ;
}

p, .zusatz{
  text-align: center;
}


i.icon{
  font-size:3em;
  color:#f1f3f6;
  text-align: left;

}

.opacity{
  opacity: 0;
}

.contact{
  width:30%;
  margin-left:auto;
  margin-right:10%;
  background-color: #111;
}
